{% extends "customer_navbar.html" %}
{% load static %}
{% block title %}Edit Item{% endblock %}
{% block content %}

<div>
    <div class="w-100">
           
        <h3 class="page_header mb-4">Edit Product</h3>
    <div class="item-master">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" >
                    {% comment %} <div class="d-flex justify-content-between inventory">
                        <div class="d-flex">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                            
                        </div>
                    </div> {% endcomment %}
                
                    <div class="items-content">
                        <!-- edit item Header -->
                        <div class="items-header" style="background-color:#ed8b00;">
                            <h4 class="items-title mb-0">Edit item</h4>
                        </div>
                    <form method="POST">
                        <!-- edit item body -->
                        <div class="items-body">
                            <p style="color:red;" id="error_message"></p>
                                {% csrf_token %}
                                <div class="row">
                                    {% for detail in item_detail %}
                                    <div class="col-md-6">
                                    
                                        {% comment %} <div class="py-md-3 pt-0 pb-3">
                                            <label for="item" class="label-blue">Item Id</label>
                                            <input type="text" name="item_sku" value="{{ detail.sku }}" class="form-control add_single_field" >
                                        </div> {% endcomment %}
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="ProductService"
                                                class="label-blue">Product/Service</label>
                                                <select class="form-select add_single_field" name="service_product" id="service_product">
                                                    {% if detail.product_or_service %}
                                                    <option value="{{ detail.product_or_service }}" selected>{{ detail.product_or_service }}</option>
                                                        {% if detail.product_or_service == "service"%}
                                                        <option value="product">Product</option>
                                                        {% else%}
                                                        <option value="service">Service</option>
                                                        {% endif %}
                                                    {% endif %}
                                                </select>
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="unit" class="label-blue">Unit of
                                                Measurement</label>
                                                <select class="form-select add_single_field" id="unit" name="unit">
                                                    {% if detail.unit_of_measurement %}
                                                    <option value="{{detail.unit_of_measurement}}"selected>{{detail.unit_of_measurement}}</option>
                                                        {% if detail.unit_of_measurement == "Kg"%}
                                                            <option value="M">M</option>
                                                        {% else %}
                                                            <option value="Kg">Kg</option>
                                                        {% endif %}
                                                    {% else %}
                                                        <option selected>Select Unit</option>
                                                        <option value="M">M</option>
                                                        <option value="Kg">Kg</option>
                                                    {% endif %}
                                                    
                                                </select>
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="stock" class="label-blue">Current
                                                Stock</label>
                                                <input type="text" name="stock" value="{{ detail.stock }}" id="stock_text" class="form-control add_single_field">
                                            </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="code" class="label-blue">HSN Code</label>
                                            <input type="text" name="hsn_code" value="{{ detail.hsn_code }}" id="hsn_code" class="form-control add_single_field">
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="code" class="label-blue">Warehouse</label>
                                            <select class="form-select add_single_field" id="ware_house" name="ware_house">
                                                {% if detail.warehouse %}
                                                    <option value="{{ detail.warehouse.id }}"selected>{{ detail.warehouse }}</option>
                                
                                                {% endif %}
                                                    {% for ware in warehouses %}
                                                        {% if ware.name == detail.warehouse %}
                                                            <p>--</p>
                                                            {% else %}
                                                                <option value="{{ ware.id }}">{{ware.name}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="Iname" class="label-blue">Item name</label>
                                            <input type="text" id="item_name_text" value="{{ detail.item_name }}" name="item_name" class="form-control add_single_field">
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="buy"
                                                class="label-blue">Purchase Order</label>
                                            <select class="form-select add_single_field selectpurchaseorder" id="pusrchase_order" name="purchase_order" required>
                                                <option value="{{detail.purchase_order.id}}">P0-{{detail.purchase_order.id}}</option>
                                                    {% for i in purchase_item %}
                                                        <option value="{{detail.purchase_order.id}}">P0-{{detail.purchase_order.id}}</option>
                                                    {% endfor %}
                                                    {% comment %} <option value="others">Others</option> {% endcomment %}
                                            </select>
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="itemCategory" class="label-blue">Item
                                                Category</label>
                                                <select class="form-select add_single_field" name="category">
                                                    {% if detail.item_category %}
                                                        <option value="{{ detail.item_category.id }}" selected>{{ detail.item_category }}</option>
                                                    {% endif%}
                                                  
                                                    {% for category in categories %}
                                                        {% if category.id == detail.item_category.id %}
                                                        <p>--</p>
                                                        {% else %}
                                                            <option value="{{category.id}}">{{category.name}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="Price" class="label-blue">Price</label>
                                            <input type="text" name="item_price" value="{{ detail.price }}"id="item_price" class="form-control add_single_field">
                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="tax" class="label-blue">Tax</label>
                                            <input type="text" name="tax" id="tax" value="{{ detail.tax }}" class="form-control add_single_field">

                                        </div>
                                        <div class="py-md-3 pt-0 pb-3">
                                            <label for="itemCategory" class="label-blue">Rack</label>
                                                <select class="form-select add_single_field" name="rack">
                                                    {% if detail.racks %}
                                                        <option value="{{detail.item_rack.id}}">{{detail.item_rack}}</option>
                                                    {% endif %}
                                                    {% for rack in all_racks %}
                                                        {% if rack.rack != detail.racks %}
                                                            <option value="{{rack.id}}">{{rack.rack}}</option>

                                                        {%endif%}
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                           
                        </div>
                        <div class="itmes-footer">
                            <a href="{% url 'inventory'%}"><button type="button" class="btn btn-danger fw-bold">Cancel</button></a>
                            <input type="submit" id="btn-submit" class="btn mx-2 fw-bold" style="background-color:#ed8b00;" value="Update Product">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
         jQuery('#btn-submit').on('click', function(){
                let item_sku = jQuery("#item_sku").val();
                var item_name = jQuery("#item_name").val();
                let item_price = jQuery("#item_price").val();
                let service_product = jQuery("#service_product").val();
                let item_unit = jQuery("#unit").val();
                let hsn_code = jQuery("#hsn_code").val();
                let item_type = jQuery("#item_type").val();
                let item_stock =  jQuery("#stock").val();
                let item_category = jQuery("#category").val();
                let item_tax = jQuery("#tax").val();
                if(item_sku==" "){
                    jQuery("#error_message").text("Field can not be empty");
                    return false;
                }
                if(item_sku.length < 12){
                    jQuery("#error_message").text("SKU length should be greater than or equal to 12");
                    return false;
                }
                
                if(service_product=="Select Type"){
                    jQuery("#error_message").text("Please select Type");
                    return false;
                }
                if(item_unit=="Select Unit"){
                    console.log(item_type);
                    jQuery("#error_message").text("Please select Unit");
                    return false;
                }
                if(!jQuery.isNumeric(item_price)){
                    jQuery("#error_message").text("Add Number in Price");
                    return false;
                }
            });
    </script>
{% endblock content %}
