{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">

  <div class="centered">
    <img src="{%static 'images/industryhub logo 2.jpg'%}" class="mx-auto d-block" alt="">
    <div class="container d-flex my-5">
      <div class="mx-auto" style="width: 25rem; border: none;">
        <div class="card-body text-center">
    
            <div class="mx-auto my-5">
              <a href="{% url 'manufacturer-login' %}" style="background-color:#ed8b00;" class="btn btn-lg text-center text-dark fw-bold txt">Manufacturer Login</a>  
            </div>
            <div class="text-center text-primary fw-bold"><small>New to industryHub ? <a href="{% url 'manufacturer-registration' %}" class="text-success fw-bold">Manufacturer Registration</a> </small>
            </div>
            
    
        </div>
      </div>

      <div class="mx-auto ms-2" style="width: 25rem; border: none;">
        <div class="card-body text-center">

    
            <div class="my-5">
              <a href="{% url 'customer-login' %}" style="background-color:#ed8b00;" class="btn btn-lg text-center text-dark fw-bold txt">Customer Login</a>  
            </div>
            <div class="text-center text-primary fw-bold"><small>New to industryHub ? <a href="{% url 'customer-registration' %}" class="text-success fw-bold">Customer Registration</a> </small></div>
        </div>
      </div>

      <div class="mx-auto ms-2" style="width: 25rem; border: none;">
        <div class="card-body text-center">

    
            <div class="my-5">
              <a href="{% url 'vendor-login' %}" style="background-color:#ed8b00;" class="btn btn-lg text-center text-dark fw-bold txt">Vendor Login</a>  
            </div>
            <div class="text-center text-primary fw-bold"><small>New to industryHub ? <a href="{% url 'vendor-registration' %}" class="text-success fw-bold">Vendor Registration</a> </small></div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock body %}