{% extends 'customer_navbar.html' %}
{% load static %}
{% block title %}Unit DashBoard{% endblock title %}
{% block content %}
<div class="conatainer-fluid">

  <div class="row">
    <div class="col-4">
      <h3 class="fw-bold my-3">Unit Details</h3>

    </div>
    <div class="col-8">
      <div class="container">

        <form class="d-flex justify-content-end" method="get" action="{% url 'search-manufacturering-unit' %}">  
          <div class="form-group">
            <input class="form-control me-2 " type="search" placeholder="Search Manufacturer" aria-label="Search" name="search">
          </div>
          <button class="btn fw-bold mx-2"  style="background-color:#ed8b00;"  type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button>
        </form> 
      </div>
    </div>
  </div>


  {% if manufacturing_unit_data|length < 1 %} <div class="container text-center my-4">
    <h3 class="text-center fw-bold">No Unit Found.</h3>
    <a class="btn fw-bold" style="background-color:#ed8b00;" href="{% url 'create-manufacturing-unit' %}">Add New
       Unit </a>
</div>
{% else %}
<div class="container text-end my-4">
  <a class="btn fw-bold" style="background-color:#ed8b00;" href="{% url 'create-manufacturing-unit' %}">Add New
      Unit</a>
</div>
<table class="table align-middle table-bordered">
  <thead>
    <tr style="text-transform: uppercase;  background-color:#ed8b00;">
      <th>Unit Name</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Website</th>
      {% comment %} <th class="w-25">Delivery Method</th> {% endcomment %}
      <th>Phone Number</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    {% for manufacturing_unit_data in manufacturing_unit_data %}
    <tr>
      <th scope="row">{{manufacturing_unit_data.company_name|upper}}</th>
      {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
      <td>{{manufacturing_unit_data.salutation}}
        {{manufacturing_unit_data.first_name|upper}}
        {{manufacturing_unit_data.last_name|upper}}</td>
      {% comment %} <td>{{manufacturing_unit_data.display_name|capfirst}}</td> {% endcomment %}
      <td>{{manufacturing_unit_data.email}}</td>
      <td>{{manufacturing_unit_data.website}}</td>
      <td>{{manufacturing_unit_data.phone_number|upper}}</td>
      {% comment %} <td>{{manufacturing_unit_data.pan_number}}</td>
      <td>{{manufacturing_unit_data.currency}}</td> {% endcomment %}

      {% comment %} <td>{{order.delivery_method|capfirst}}</td> {% endcomment %}


      <td><a href="{% url 'update-manufacturing-unit' manufacturing_unit_data.id %}" class="btn fw-bold btn-sm"
          style="background-color:#ed8b00;">&#128393;</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}
</div>


{% endblock content %}
