{% extends 'base.html' %}
{% load static %}
{% block title %}Redirect Message{% endblock title %}
{% block body %}
<div class="container">

    <div class="centered">
    <img src="{%static 'images/industryhub logo 2.jpg'%}" class="mx-auto d-block" alt="">
    <div class="card-body txt">
        <h3 class="text-center">Thanks for Registration. <br><br> Your Account will get Activated By <br><span style="font-family: 'Hyperion Sunset BRK', sans-serif;
            color:#ed8b00; color:#ed8b00;">industryHub</span>  <br> within 5 hour. <br><br> Drop a Email to us on <br><span class="fw-bold" style="color:#ed8b00;">contactus@industryhub.com</span>  <br> to avtivate your account.<br></h3>
    </div>
   </div>
</div>
{% endblock body %}