{% extends "customer_navbar.html" %}
{% load static %}
{% block title %}Search Result for Inventory Product{% endblock %}
{% block content %}
<div class="container">
    {% if product_search_match|length < 1 %}
    <h3 class="fw-bold">Search Result For : {{search_product_query}}</h3>
    <h4 class="fw-bold text-center my-5">No Product Found</h4>
    {% else %}
    <h3 class="fw-bold">Search Result For : {{search_product_query}}</h3>

    <div class="invent_table">
        <div class="table-responsive">
           
            <table class="table table-bordered ">
                <thead style="background-color:#ed8b00;"> 
                    {% comment %} table-heading-blue {% endcomment %}
                    <tr>
                        {% comment %} <th>Item id #</th> {% endcomment %}
                        <th>Item name</th>
                        <th>Item category</th>
                        <th style="width: 150px; min-width: 150px;">Current Stock</th>
                        <th style="width: 150px; min-width: 150px;">Unit</th>
                        <th style="width: 150px; min-width: 150px;">Price</th>
                        {% comment %} <th>Stock status</th> {% endcomment %}
                        <th>Product/Service</th>
                        {% comment %} <th>Type</th> {% endcomment %}
                        <th>HSN Code </th>
                        <th>Tax </th>
                        <th>Warehouse </th>
                        <th style="width: 150px; min-width: 150px;" >Action</th>
                        {% comment %} <th style="width: 150px; min-width: 150px;" >Show Barcode</th> {% endcomment %}

                    </tr>
                </thead>
         
                <tbody class="table-data-purple">
                    <tr>
                        {% for item in product_search_match %}
                        <tr>
                            {% comment %} <td>{{item.sku}}</td> {% endcomment %}
                            <td class="d-flex justify-content-between text-primary">{{ item.item_name }}
                            </td>
                            <td>{{ item.item_category}}</td>
                            <td class="text-end text-primary stock-td">{{item.stock}}</td>
                            <td>{{ item.unit_of_measurement }}</td>
                            <td><i class="fa fa-inr" aria-hidden="true"></i>
                                {{ item.price }}</td>
                            {% comment %} <td>Min limit missing</td> {% endcomment %}
                            <td>{{ item.product_or_service }}</td>
                            {% comment %} <td>{{ item.type }}</td> {% endcomment %}
                            <td>{{ item.hsn_code }}</td>
                            <td>{{ item.tax }}%</td>
                            <td>{{ item.warehouse}}</td>
                            <td>
                                
                              
                                    <a href="{% url 'edit-inventory-item' item.id %}" title="Edit Inventory Product" class="btn fw-bold btn-sm"
                                        style="background-color:#ed8b00;">&#128393;
                                    </a>
                                </svg>
                            <i class="fa-solid fa-trash fa-fw item-delete text-danger" data-bs-toggle="modal"
                                data-bs-target="#openmodaldelete" data-delete-item-id="{{ item.id }}">
                            </i>
                            <input type="hidden" class="delete-itemid" value="{{item.id}}">
                            </td>
                            {% comment %} <td>
                                 <button data-bs-toggle="modal" data-item-barcode="{{ item.barcode.url }}"data-bs-target="#openbarcode" class="open_barcode btn-add px-1" >Show Barcode</button></td>                             {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tr>
                
                </tbody>
            </table>

          
            <!-- Modal to delete item  -->
            <div class="modal fade" id="openmodaldelete">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-danger modal_header_del">
                            <h5 class="m-0">Delete Entry</h5>
                            <button type="button" class="modal_close_btn btn p-0" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="delete_item_form" method="post">
                                {% csrf_token %}
                                <div class="d-flex align-items-center mb-5 mt-3">
                                    <img src="{% static '/images/warning_icon.gif' %}" width="100px">
                                    <h4 class="ms-3">Are you sure you want to delete?</h4>
                                </div>
                                <button type="submit" class="btn btn-danger btn-md">Confirm delete</button>
                                <a href="{% url 'inventory' %}"><button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal to show barcode of the item -->
            <div class="modal fade" id="openbarcode">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header modal_header_del bg-primary">
                            <h5 class="m-0">Barcode</h5>
                            <button type="button" class="modal_close_btn btn p-0" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <center>
                                <img class="barcode-img-url" src="">
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% endif %}
</div>
{% endblock content %}