{% extends 'customer_navbar.html' %}
{% load static %}
{% block title %}Create Quotation{% endblock title %}
{% block content %}

<div class="container">
    {% comment %} <img src="{%static 'images/logo.png'%}" alt="" width="100%" height="100%"> {% endcomment %}
    <form action="" method="post" enctype="multipart/form-data" product-data-url="{% url 'load-product' %}">
        {% comment %} <div class="centered"></div> {% endcomment %}
        {% csrf_token %}
        <div class="row">
            {% comment %} Sales Order Detail {% endcomment %}
            <div class="col-6">
                <h3 class="my-3 fw-bold">Quotation Detail</h3>

                {% comment %} <div class="mb-3">
                    <label class="form-label">Type* :</label>
                      <select class="form-control unitType" onchange="" name="distributor" id="" autofocus  required>
                        <option value="">Select Customer Type</option>
                        <option value="Distributer">Distributer</option>
                        <option value="Manufacturer">Manufacturer</option>
                         <option value="Trader">Trader</option>
                        <option value="Customer">Customer</option>
                        
                    </select>  
                </div> {% endcomment %}
                
                <div class="mb-3">
                    <label class="form-label">Customer* :</label>
                    {% comment %} <div id="list1" class="dropdown-check-list dropdown-toggle" data-toggle="dropdown">
                        <input type="button" class="anchor" value="Select Customer">
                        <ul class="items dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for dispay_unit in display_manufacturing_unit %}
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{dispay_unit.id}}" name="quotation" id="Checkme2">
                                        <label class="form-check-label" for="Checkme2">{{dispay_unit.company_name}}</label>
                                    </div>
                                </a>
                                
                            </li>
                            {% endfor %}
                        </ul>
                      </div> {% endcomment %}
                      <input type="text" class="form-control my-2" value="{{quotation.assigning}}" readonly>
                </div>


                <div class="mb-3">
                    <label class="form-label">Status:</label>
                    <input type="text" class="form-control my-2" value="{{quotation.status}}" readonly>
                </div>
               

                
            </div>
         
        </div>    

        <hr>

        <h2 class="fw-bold">Product Detail</h2>
        <div class="row">

            <table class="table align-middle">
                <thead>
                    <tr class="bg-info">
                        {% comment %} <th scope="col">mf unit</th> {% endcomment %}
                        <th scope="col">Product Name & Product Length*</th>
                        {% comment %} <th scope="col">Length of Product</th> {% endcomment %}
                        <th scope="col">Quantity*</th>
                        {% comment %} <th scope="col">Bundle Number*</th> {% endcomment %}
                        <th scope="col">Cost Of Product*</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in product_list %}
                    <tr>
                        
                       
                        
                        <td scope="row">
                            <select name="product_name" class="productName product form-control my-2" readonly>
                                <option value="{{i.tempproduct.item_name}}" selected>{{i.tempproduct.item_name}}</option>
                                {% comment %} <option value="Select Product">Select Product</option>
                                {% for i in product %}
                                <option value="{{i.id}}">{{i.item_name}}</option>
                                {% endfor %} {% endcomment %}
                            </select>
                        </td>
                        
                        
                        <td>
                            <input type="text" class="form-control my-2" name="quantity" value="{{i.quantity}}" required readonly>
                        </td>
                        
                        {% comment %} <td>
                            <input type="text" class="form-control my-2" value="" name="bundle_number" required>
                        </td> {% endcomment %}
                        
                        <td>
                            <input type="text" class="amount form-control my-2" value="{{i.cost_of_product}}" name="product_cost" required readonly>
                        </td>
                        
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end">
                 <div class="mb-3">
                    <label class="form-label fw-bold">Total Amount :</label>
                    <input type="text" id="total" class="form-control w-75" name="total_amount" value="{{quotation.total_amount}}" readonly>
                 </div>
                </div>
            </div>
        </div>

        

      <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">Terms & Conditions</label>
                <textarea class="form-control" rows="3" name="terms_and_conditions" readonly>{{quotation.terms_and_condition}}</textarea>
            </div>
        </div>
      

        </div>
       

<br><br>
        {% comment %} <div class="container text-end">
            <button type="sumbit" class="btn btn-lg fw-bold" style="background-color:#ed8b00;">Update Quotation</button>
        </div> {% endcomment %}
    </form>
</div>
<br><br><br>
<script>
    var checkList = document.getElementById('list1');
    checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
      if (checkList.classList.contains('visible'))
        checkList.classList.remove('visible');
      else
        checkList.classList.add('visible');
    }
    
    document.addEventListener('click', function(evt) {
      var isClickedOutside = !checkList.contains(evt.target);
      if (isClickedOutside && checkList.classList.contains('visible')) {
        checkList.classList.remove('visible');
      }
    });
</script>
{% endblock content %}
